@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');


html {
    width: 100%;
}

body {
    background-color: #34373a;
    background-image: url("restaurante.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Open Sans", sans-serif;
}

header {
    height: 118px;
    text-align: center;
}

nav {
    background-color: rgba(3, 3, 3, 0.534);
    text-align: center;
    padding: 14px 0px 14px 0px;
}

h1 {
    color: white;
    font-size: 70px;
    text-align: center;
}

p {
    color: white;
    font-size: 18px;
}

a {
    color: white;
    font-size: 18px;
}

nav a {
    text-decoration: none;
    font-size: 12px;
    padding: 0px 14px 0px 14px;
}

main {
    height: 400px;
    text-align: center;
    padding: 40px 240px 0px 240px;
}

footer {
    background-color: rgba(2, 2, 2, 0.774);
    text-align: center;
    padding: 50px 0px 50px 0px;
}

footer p {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.811);

}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

.maps {
    padding-bottom: 100px;
}